.header-filter {
position: relative;
}

.header-filter:before,
.header-filter:after {
position: absolute;
z-index: 1;
width: 100%;
height: 100%;
display: block;
left: 0;
top: 0;
content: "";
}

.header-filter::before {
background: rgba(0, 0, 0, 0.5);
}

.header-filter .container {
z-index: 2;
position: relative;
}