body {
  background-color: #6FCF97;
  color: #000000;
  font-weight: 300;
}

/* main */
.etib-main {
    background: #ffffff;
    position: relative;
    z-index: 3;
}

/* main-raised */
.main-raised {
    margin: -60px 30px 0px;
    border-radius: 6px;
    box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}

@media (max-width: 830px) {
    .main-raised {
      margin-left: 10px;
      margin-right: 10px;
    }
}

.etib-main.main-raised {
    margin-top: -30px;
}

/* page-header */
.offline-doc .page-header,
.offline-free-doc .page-header {
  height: 100vh !important;
}

.offline-doc .page-header:after,
.offline-free-doc .page-header:after {
  background: rgba(0, 0, 0, 0.5) !important;
}

@media all and (max-width: 375px) {
    .page-header {
        height: calc(100vh + 270px);
    }
    .etib-main.main-raised {
        margin-top: -30px;
    }
}

.page-header {
    height: 100vh;
    background-position: center center;
    background-size: cover;
    margin: 0;
    padding: 0;
    border: 0;
    display: flex;
    align-items: center;
}
  
.page-header .page-header-image {
    position: absolute;
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.page-header .content-center {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2;
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    color: #FFFFFF;
    padding: 0 15px;
    width: 100%;
    max-width: 880px;
}

.page-header .carousel .carousel-indicators {
    bottom: 60px;
}

.page-header {
    color: #ffffff;
}

.page-header .title {
    color: #ffffff;
}

.page-header.header-small {
    height: 65vh;
    min-height: 65vh;
}

.page-header {
    width: 100%;
    box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}

/* page-header */
.index-page .page-header {
    height: 90vh;
    overflow: hidden;
}

.profile-page .page-header {
    height: 380px;
    background-position: top center;
}

.signup-page .page-header {
    min-height: 100vh;
    height: auto;
    display: inherit;
}

.signup-page .page-header {
    padding-top: 20vh;
}

@media screen and (max-width: 767px) {
    .login-page .page-header {
        padding-bottom: 200px;
    }
}

@media screen and (max-width: 991px) {
    .menu-on-left .page-header,
    .menu-on-left .etib-main,
    .menu-on-left .navbar>div {
        -webkit-transform: translate3d(0px, 0, 0);
        -moz-transform: translate3d(0px, 0, 0);
        -o-transform: translate3d(0px, 0, 0);
        -ms-transform: translate3d(0px, 0, 0);
        transform: translate3d(0px, 0, 0);
        transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
    }

    .nav-open .menu-on-left .page-header,
    .nav-open .menu-on-left .etib-main {
        -webkit-transform: translate3d(230px, 0, 0);
        -moz-transform: translate3d(230px, 0, 0);
        -o-transform: translate3d(230px, 0, 0);
        -ms-transform: translate3d(230px, 0, 0);
        transform: translate3d(230px, 0, 0);
    }
}

/* selection */
.section {
    padding: 70px 0;
}

/* header-filter */
.header-filter {
  position: relative;
}

.header-filter:before,
.header-filter:after {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  display: block;
  left: 0;
  top: 0;
  content: "";
}

.header-filter::before {
  background: rgba(0, 0, 0, 0.5);
}

.header-filter .container {
  z-index: 2;
  position: relative;
}

/* footer */
.offline-doc .footer,
.offline-free-doc .footer {
  position: absolute;
  width: 100%;
  background: transparent;
  bottom: 0;
  color: #ffffff;
  z-index: 1;
}

.offline-doc .footer .copyright a,
.offline-free-doc .footer .copyright a {
  color: #ffffff;
}

footer {
    padding: 0.9375rem 0;
    text-align: center;
    display: -webkit-flex;
    /* Safari */
    /* Safari 6.1+ */
    display: flex;
}
  
footer ul {
    margin-bottom: 0;
    padding: 0;
    list-style: none;
}
  
footer ul li {
    display: inline-block;
}
  
footer ul li a {
    color: inherit;
    padding: 0.9375rem;
    font-weight: 500;
    font-size: 12px;
    text-transform: uppercase;
    border-radius: 3px;
    text-decoration: none;
    position: relative;
    display: block;
}
  
footer ul li a:hover {
    text-decoration: none;
}

footer ul li .btn {
    margin: 0;
}

footer ul.links-horizontal:first-child a {
    padding-left: 0;
}

footer ul.links-horizontal:last-child a {
    padding-right: 0;
}
  
footer ul.links-vertical li {
    display: block;
    margin-left: -5px;
    margin-right: -5px;
}
  
footer ul.links-vertical li a {
    padding: 5px;
}
  
footer .social-buttons a,
footer .social-buttons .btn {
    margin-top: 5px;
    margin-bottom: 5px;
}
  
footer .footer-brand {
    float: left;
    height: 50px;
    padding: 15px 15px;
    font-size: 18px;
    line-height: 20px;
    margin-left: -15px;
}
  
footer .footer-brand:hover,
footer .footer-brand:focus {
    color: #000000;
}
  
footer .copyright {
    padding: 15px 0;
}
  
footer .copyright .material-icons {
    font-size: 18px;
    position: relative;
    top: 3px;
}

footer .pull-center {
    display: inline-block;
    float: none;
}

.login-page .footer {
    position: absolute;
    width: 100%;
    background: transparent;
    bottom: 0;
    color: #ffffff;
    z-index: 2;
}
  
.login-page .footer .copyright a {
    color: #ffffff;
}

.signup-page .footer {
    padding: 0;
}

.signup-page .footer .copyright,
.signup-page .footer a {
    color: #fff;
}

