
/*Cores e definições de família tipográfica*/
body {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  background-color: #6FCF97;
  color: #3C4858;
}

.serif-font {
  font-family: "Roboto Slab", "Times New Roman", serif;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4 {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 300;
  line-height: 1.5em;
}

h1,
h2,
h3,
.h1,
.h2,
.h3 {
  margin-top: 20px;
  margin-bottom: 10px;
}

h4,
h5,
h6,
.h4,
.h5,
.h6 {
  margin-top: 10px;
  margin-bottom: 10px;
}

html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
.h1 {
  font-size: 3.3125rem;
  line-height: 1.15em;
}

h2,
.h2 {
  font-size: 2.25rem;
  line-height: 1.5em;
}

h3,
.h3 {
  font-size: 1.5625rem;
  line-height: 1.4em;
}

h4,
.h4 {
  font-size: 1.125rem;
  line-height: 1.5em;
}

h5,
.h5 {
  font-size: 1.0625rem;
  line-height: 1.55em;
  margin-bottom: 15px;
}

h6,
.h6 {
  font-size: 0.75rem;
  text-transform: uppercase;
  font-weight: 500;
}

p {
  font-size: 14px;
  margin: 0 0 10px;
}

b {
  font-weight: 500;
}

small,
.small {
  font-size: 75%;
  color: #777;
}

.title,
.card-title,
.info-title,
.footer-brand,
.footer-big h5,
.footer-big h4,
.media .media-heading {
  font-weight: 500;
  /*font-family: "Roboto Slab", "Times New Roman", serif;*/
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

/* hr */

hr {
  width:100%;
  margin:0 auto;
}

.hr-orange {
  background-color: rgba(242, 153, 74, 0.5); height: 1px; border: 0;
}

.title {
  margin-top: 30px;
  margin-bottom: 25px;
  min-height: 32px;
}

/* Posição da área de conteúdo */
.etib-main {
  background: #ffffff;
  position: relative;
  z-index: 3;
}

/* Efeitos da área de conteúdo */
.main-raised {
  margin: -60px 30px 0px;
  border-radius: 6px;
  box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}

@media (max-width: 830px) {
  .main-raised {
    margin-left: 10px;
    margin-right: 10px;
  }
}

/* page-header */
.offline-doc .page-header,
.offline-free-doc .page-header {
  height: 100vh !important;
}

.offline-doc .page-header:after,
.offline-free-doc .page-header:after {
  background: rgba(0, 0, 0, 0.5) !important;
}

@media all and (max-width: 375px) {
  .page-header {
    height: calc(100vh + 270px);
  }
  .etib-main.main-raised {
    margin-top: -30px;
  }
}

.page-header {
  height: 100vh;
  background-position: center center;
  background-size: cover;
  margin: 0;
  padding: 0;
  border: 0;
  display: flex;
  align-items: center;
}
  
.page-header .page-header-image {
  position: absolute;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.page-header .content-center {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 2;
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  color: #FFFFFF;
  padding: 0 15px;
  width: 100%;
  max-width: 880px;
}

.page-header .carousel .carousel-indicators {
  bottom: 60px;
}

.page-header {
  color: #ffffff;
}

.page-header .title {
  color: #ffffff;
}

.page-header.header-small {
  height: 65vh;
  min-height: 65vh;
}

.page-header .iframe-container iframe {
  width: 100%;
  box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}

/* page-header */
.index-page .page-header {
  height: 90vh;
  overflow: hidden;
}

.profile-page .page-header {
  height: 380px;
  background-position: top center;
}

.signup-page .page-header {
  min-height: 100vh;
  height: auto;
  display: inherit;
}

.signup-page .page-header {
  padding-top: 20vh;
}

@media screen and (max-width: 767px) {
  .login-page .page-header {
    padding-bottom: 200px;
  }
}

@media screen and (max-width: 991px) {
.menu-on-left .page-header,
.menu-on-left .etib-main,
.menu-on-left .navbar>div {
  -webkit-transform: translate3d(0px, 0, 0);
  -moz-transform: translate3d(0px, 0, 0);
  -o-transform: translate3d(0px, 0, 0);
  -ms-transform: translate3d(0px, 0, 0);
  transform: translate3d(0px, 0, 0);
  transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
}

.nav-open .menu-on-left .page-header,
.nav-open .menu-on-left .etib-main {
  -webkit-transform: translate3d(230px, 0, 0);
  -moz-transform: translate3d(230px, 0, 0);
  -o-transform: translate3d(230px, 0, 0);
  -ms-transform: translate3d(230px, 0, 0);
  transform: translate3d(230px, 0, 0);
  }
}

/* Padding do selection */
.section {
  padding: 70px 0;
}

/* Filtro do header */
.header-filter {
  position: relative;
}

.header-filter:before,
.header-filter:after {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  display: block;
  left: 0;
  top: 0;
  content: "";
}

.header-filter::before {
  background: rgba(0, 0, 0, 0.5);
}

.header-filter .container {
  z-index: 2;
  position: relative;
}

/* Footer */
footer {
  padding: 0.9375rem 0;
  text-align: center;
  display: -webkit-flex;
  /* Safari */
  /* Safari 6.1+ */
  display: flex;
}

footer ul {
  margin-bottom: 0;
  padding: 0;
  list-style: none;
}

footer ul li {
  display: inline-block;
}

footer ul li a {
  color: inherit;
  padding: 0.9375rem;
  font-weight: 400;
  font-size: 16px;
  /*text-transform: uppercase;*/
  border-radius: 3px;
  text-decoration: none;
  position: relative;
  display: block;
}

footer ul li a:hover {
  text-decoration: none;
}

footer ul li .btn {
  margin: 0;
}

footer ul.links-horizontal:first-child a {
  padding-left: 0;
}

footer ul.links-horizontal:last-child a {
  padding-right: 0;
}

footer ul.links-vertical li {
  display: block;
  margin-left: -5px;
  margin-right: -5px;
}

footer ul.links-vertical li a {
  padding: 5px;
}

footer .social-buttons a,
footer .social-buttons .btn {
  margin-top: 5px;
  margin-bottom: 5px;
}

footer .footer-brand {
  float: left;
  height: 50px;
  padding: 15px 15px;
  font-size: 18px;
  line-height: 20px;
  margin-left: -15px;
}

footer .footer-brand:hover,
footer .footer-brand:focus {
  color: #000000;
}

footer .copyright {
  padding: 15px 0;
}

footer .copyright .material-icons {
  font-size: 18px;
  position: relative;
  top: 3px;
}

footer .pull-center {
  display: inline-block;
  float: none;
}

a:hover {
  color: rgba(60, 72, 88, 0.7);
  text-decoration: underline;
}

/* Barra de navegação */
.navbar {
  background-color: #ffffff !important;
  box-shadow: 0 4px 18px 0px rgba(0, 0, 0, 0.12), 0 7px 10px -5px rgba(0, 0, 0, 0.15);
}

.navbar-light .navbar-nav .nav-link {
  color: rgba(60, 72, 88, 0.7);
}

.navbar-light .navbar-nav .show > .nav-link,
.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .nav-link.active {
  color: #3C4858;
}

.navbar .navbar-nav .nav-item .nav-link {
  position: relative;
 /* color: inherit; */
  padding: 0.9375rem;
  font-weight: 400;
  font-size: 16px;
  border-radius: 3px;
  line-height: 20px;
}

/* navbar-toggler */

.navbar-light .navbar-toggler {
  color: rgba(0, 0, 0, 0.5);
  border-color: rgba(0, 0, 0, 0.0);
}

.navbar-toggler {
  padding: 0.25rem 0.75rem;
  /*font-size: 1.25rem;*/
  font-size: 1.5rem;
  line-height: 1;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 0.25rem;
}

/* Seção Sobre */

.section-tabs {
  background: rgba(246, 245, 245, 0.7);
}

/* Card */

.card-body {
  flex: 1 1 auto;
  padding: 3rem 2rem;
}

.card {
  border: 0;
}

/* Google Maps */
.google-maps {
  width: 100%;
}

.maps-border-radius {
  border-radius: 0.25rem;
}

/* Espaço */

.etib-h3-top {
  margin-top: 40px;
}

.etib-icon-top {
  margin-top: 15px;
}

/* Sombras */
.etib-card-shadow {
box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

/* Ícones */

.white-icon {
  color: #ffffff;
}

.p-2 {
  padding: 15px !important;
}

.m-2 {
  margin: 30px !important;
}

.material-icons {
  font-size: 3.3125rem;
}

.orange-square {
  background-color: #F2994A;
  border-radius: 0.25rem;
}